<footer class="w-full text-white text-center py-6">
  <p class="text-sm tracking-wide">
    © {{ currentYear }} Maru Visuals. All rights reserved.
  </p>

  <!-- Contact Prompt -->
  <div class="flex justify-center items-center gap-3">
    <span class="text-sm">Interested in the site?</span>
    <a href="https://www.linkedin.com/in/alex-petrovan-63aa70223" target="_blank" class="hover:text-gray-400">
      <!-- LinkedIn Icon (SVG) -->
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
        <path d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5v-14c0-2.76-2.24-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.27c-.97 0-1.75-.79-1.75-1.75s.78-1.75 1.75-1.75 1.75.79 1.75 1.75-.78 1.75-1.75 1.75zm13.5 11.27h-3v-5.5c0-1.33-.03-3.04-1.85-3.04-1.85 0-2.13 1.44-2.13 2.93v5.61h-3v-10h2.88v1.36h.04c.4-.75 1.38-1.54 2.84-1.54 3.04 0 3.6 2 3.6 4.59v5.59z"/>
      </svg>
    </a>
  </div>
</footer>
