.nav-link {
  @apply relative inline-block transition-all duration-300;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px; /* a little space below the text */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  transition: all 0.3s ease;
  @apply bg-accent
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 30%; /* underline is half the text width */
}
